@import "./font/fonts";
@import "./global-page-params";
@import "./base-style";
@import "./lib/null";
@import "@/assets/style/lib/mixins";
@import "./lib/timepicker.scss";

.main-title {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    @include adaptiveValue("font-size", 48, 30);
    font-weight: 700;
    line-height: 125%;
}
.main-subtitle {
    color: rgb(239, 231, 226);
    font-family: Fira Sans;
    font-size: toRem(15);
    font-weight: 400;
    line-height: 160%;
}
.main-headline {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: toRem(12);
    text-align: center;
    grid-template-columns: minmax(toRem(200), toRem(580));
    justify-content: center;
}
.v-input__control {
    display: block;
    height: toRem(56);
}
.gm-style-mtc-bbw {
    display: none;
}
.gm-style-moc {
    display: none;
}
.v-field__field {
    padding: toRem(2);
}

.lock {
    overflow: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    -ms-touch-action: none;
    touch-action: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}
